.line {
  border-bottom: 1px solid #d3d3d3;
  margin: 1rem 0;
}
.campaign-nav {
  display: flex;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  overflow: hidden;
  width: fit-content;
}
a {
  text-decoration: none;
}
.campaign-nav :not(:first-child) {
  border-left: 1px solid #d3d3d3;
}
.campaign-nav div {
  padding: 0.5rem 1rem;
  color: #1f2937;
  transition: all 0.2s ease-in;
  &:hover {
    cursor: pointer;
    color: #0284c7;
    background-color: #e0f2fe;
  }
}
.campaign-nav .active-nav {
  color: #ffffff;
  background-color: #0284c7;
}
.report-container {
  display: flex;
  flex-direction: column;
}
.campaign-container {
  display: flex;
  flex-direction: column;
}

.campaign-header {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.campaign-content {
  display: grid;
  border-radius: 10px;
  padding: 2rem;
  background-color: #fff;
}

.grid-header,
.grid-content,
.append {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.grid-header {
  border-bottom: 1px solid #ccc;
  font-weight: 600;
}
.grid-header > div,
.grid-content > div,
.append > div {
  padding: 1rem 2rem;
  text-align: center;
}
/* .append {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
} */
.very-high {
  background-color: #b3ecff;
  color: #004e6e;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.high {
  background-color: #d2f1f8;
  color: #045b72;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.medium {
  background-color: #fff3cd;
  color: #856404;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.low {
  background-color: #ffe9dc;
  color: #d35400;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.unstable {
  background-color: #f0f0f0;
  color: #888888;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
