.line {
  border-bottom: 1px solid #d3d3d3;
  margin: 1rem 0;
}
.analytics-nav {
  display: flex;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  overflow: hidden;
  width: fit-content;
}
a {
  text-decoration: none;
}
.analytics-nav :not(:first-child) {
  border-left: 1px solid #d3d3d3;
}
.analytics-nav div {
  padding: 0.5rem 1rem;
  color: #1f2937;
  transition: all 0.2s ease-in;
  &:hover {
    cursor: pointer;
    color: #0284c7;
    background-color: #e0f2fe;
  }
}
.analytics-nav .active-nav {
  color: #ffffff;
  background-color: #0284c7;
}
