.line {
  border-bottom: 1px solid #d3d3d3;
  margin: 1rem 0;
}
.back-btn {
  margin-top: 1rem;
}
.back-btn a {
  text-decoration: none;
  color: black;
}
.analytics-container {
  display: flex;
  flex-direction: column;
}
.link-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}
.link-info {
  display: flex;
  justify-content: space-between;
}
.url-info {
  flex-basis: 750px;
}
.copy-btn-container {
  flex-basis: 200px;
  display: flex;
  align-items: start;
  gap: 1rem;
  justify-content: end;
}

.select-container {
  margin-left: 1rem;
  position: relative;
}
.drop-down-btn {
  background-color: #f4f6fa;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(210, 215, 217);
  &:hover {
    cursor: pointer;
    background-color: #dbe0eb;
    border: 1px solid skyblue;
  }
}
.drop-down {
  display: none;
  position: absolute;
  top: 2.4rem;
  right: 0;
  width: 150px;
  border: 1px solid rgb(210, 215, 217);
}
.display {
  display: block;
}
.select {
  height: 40px;
  padding: 0.5rem;
  background-color: #f4f6fa;

  &:hover {
    background-color: #dbe0eb;
    cursor: pointer;
  }
}
.destination,
.short-key,
.link-title {
  display: block;
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.destination {
  word-break: break-all;
}
.short-key {
  color: blue;
}

/* Bar Chart */
.chart-container > div {
  margin-bottom: 2.5rem;
}
#click-Chart {
  width: 1200px;
  background-color: #f6fafd;
  border-radius: 10px;
  /* padding: 1.5rem; */
}
#location {
  /* background-color: #f6fafd; */
  border-radius: 10px;
  /* padding: 1.5rem; */
}
